@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 91.46%; 
  margin: 0 auto;
}

* {
  background-color: #FFF;
}

.color-purle {
  color: #6069D0;
}

.text-cap {
  text-transform: uppercase;
}

.text-small {
  text-transform: lowercase;
}
/*=================================
  Header styling starts here
=================================*/
/*styling for header logo start here*/
header .wrapper > h1 {
  margin: 4% 5% 2% 5%;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

header .wrapper > h1:hover {
  color: #44C79D;
  text-decoration: underline;
  cursor: pointer;
}

header .wrapper > h1::before {
  content: "\f71a";
  font-family: "Font Awesome Free 5";
  text-indent: 0;
  font-size: 40px;
  /*font-size: 4vw;*/
}
/*styling for header logo end here*/
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*styling for manager section start here*/
/*styling for article section start here*/
.manager-section .wrapper{
  border-top: 3px solid #B7B7B7;
  border-right: 3px solid #B7B7B7;
  border-bottom: 3px solid #B7B7B7;
}

.manager-section .wrapper {
  display: flex;
}

.manager-article {
  width: 70%;
  padding: 0 3%;
}

.manager-article h2 {
  font-size: 30px;
  /*font-size: 2.3vw;*/
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 5%;
}

.manager-article h2 > span {
  margin-right: 10px;
}

.manager-article p {
  margin: 1% 0;
  text-transform: capitalize;
  font-size: 22px;
  /*font-size: 1.7vw;*/
}

.manager-article :nth-child(3) {
  margin-top: 3%;
  margin-bottom: 0;
}

.manager-article :nth-child(4) {
  margin-top: 0;
}

.manager-article :nth-child(5) {
  font-size: 18px;
  /*font-size: 1.4vw;*/
  color: #767676;
  text-transform: none;
  padding-right: 18%;
}

.color-green {
  color: #44C79D;
}

.manger-connect-btn {
  display: flex;
}

.manger-connect-btn > a {
  color: #FFF;
  background-color: #44C79D;
  border: 1px solid #44C79D;
  padding: 16px 15px;
  text-transform: uppercase;
  font-size: 20px;
  /*font-size: 1.5vw;*/
  margin: 15px 15px 15px 0;
  border-radius: 2px;
}

.manger-connect-btn > a:hover {
  color: #FFF;
  background-color: #6069D0;
  border: 1px solid #6069D0;
}
/*styling for article section end here*/
/*styling for aside section start here*/
.manager-aside {
  background-color: #6069D0;
  width: 30%;
}

.aside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #6069D0;
  padding: 15% 0;
  background: transparent;
}

.aside-container :first-child::first-letter{
  text-transform: capitalize;
}

.aside-container p {
  background: transparent;
  color: #FFF;
  font-size: 20px;
  /*font-size: 1.5vw;*/
}

.aside-container p > span {
  background: transparent;
  font-size: 35px;
  /*font-size: 2.4vw;*/
  line-height: 50px;
}

.man-list {
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
  margin: 20px 0;
}

.man-list > li {
  background: transparent;
}

.man-list li > span::after {
  content: "\e220";
  font-family: "Font Awesome Free 5";
  text-indent: 0;
  background: transparent;
}

.btn-but-list {
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.btn-but-list > li > span {
  background: transparent;
}

.btn-but-list li {
  background: transparent;
  color: #FFF;
}

.btn-but-list :first-child>span::before {
  content: "\f104";
  font-size: 35px;
  /*font-size: 2.4vw;*/
  font-family: "Font Awesome Free 5";
  text-indent: 0;
  background: transparent;
  padding-left: 150%;
}

.btn-but-list :last-child>span::after {
  content: "\f105";
  font-size: 35px;
  /*font-size: 2.4vw;*/
  font-family: "Font Awesome Free 5";
  text-indent: 0;
  background: transparent;
  padding-right: 150%;
}

.btn-but-list :nth-child(2) {
  background: transparent;
  color: #FFF;
}

.btn-but-list:nth-child(2) span {
  margin: 100px auto;
  color: #228B22;
  text-align: center;
  font-size: 30px;
  max-width: 60px;
  position: relative;
}

.btn-but-list:nth-child(2) span::before{
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #000;
  left: 0;
  top: 50%;
  position: absolute;
}

.btn-but-list:nth-child(2) span::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #000;
  right: 0;
  top: 50%;
  position: absolute;
}

.dot-list li>span::after {
  content: "\e122";
  font-family: "Font Awesome Free 5";
  text-indent: 0;
  background: transparent;
}

.dot-list {
  background: transparent;
  margin-top: 35px;
}
/*styling for aside section end here*/
/*styling for manager section end here*/

/*styling for insider section start here*/
.insider .wrapper {
  border-bottom: 3px solid #B7B7B7;
  padding: 3% 0%; 
}

.insider .wrapper > h2 {
  padding-left: 3%;
  font-size: 30px;
  /*font-size: 2.3vw;*/
  font-weight: bold;
  text-transform: capitalize;
}

.insider-list {
  margin: 3% 8%;
  display: flex;
  justify-content: space-between;
}

.insider-person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insider-person figure img {
  max-height: 174px;
  max-width: 177px;
}

.insider-person h3 {
  padding: 10% 0 0 0;
  font-size: 20px;
  /*font-size: 1.5vw;*/
  color: #44C79D;
  font-weight: bold;
}

.insider-list :nth-child(2) > div :nth-child(3) {
  padding-top:0;
}

.insider-person p {
  font-size: 16px;
  /*font-size: 1.3vw;*/
  text-transform: capitalize;
}

.insider-person :nth-child(3) {
  margin-top: 10%;
}

.insider-list :nth-child(2) > div :nth-child(4) {
  margin-top: 10%;
}

.star-list li > span::before {
  content: "\e122";
  font-family: "Font Awesome Free 5";
  text-indent: 0;
  background: transparent;
  font-size: 30px;
  /*font-size:2.3vw;*/
  padding: 0 5%;
}

.star-list {
  padding: 10% 0;
}

.insider-person :nth-child(6),:nth-child(7) {
  color: #666;
  font-size: 14px;
  /*font-size: 1.2vw;*/
} 

.insider-list :nth-child(2) > div :nth-child(6) {
  color: #000;
}

.insider-list :nth-child(2) > div :nth-child(7),:nth-child(8) {
  color: #666;
  font-size: 14px;
  /*font-size: 1.2vw;*/
}
/*styling for insider section end here*/
/*styling for how ps works section start here*/
.how-ps-work .wrapper {
  padding: 3% 0%;
}

.how-ps-work .wrapper > h2 {
  padding-left: 3%;
  font-size: 30px;
  /*font-size: 2.3vw;*/
  font-weight: bold;
  text-transform: capitalize;
}

.how-ps-work .wrapper > ul {
  margin: 5% 10% 0 10%;
  display: flex;
}

.ps-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.ps-works > h3 {
  font-size: 20px;
  /*font-size: 1.5vw;*/
  text-transform: capitalize;
  color: #666;
  margin: 5% 0;
}

.ps-works > p {
  text-align: center;
  padding: 0 5%;
  line-height: 25px;
  font-size: 18px;
  /*font-size: 1.3vw;*/
  color: #7E7E7E;
}

.ps-works > span::after {
  content: "\f133";
  font-family: "Font Awesome Free 5";
  text-indent: 0;
  font-size: 70px;
}
/*styling for how ps works section end here*/
/*styling for testimonial section start here*/
.testimonial .wrapper{
  border-top: 3px solid #B7B7B7;
  background-color: #6069D0;
  margin-bottom: 2%;
}

.testimonial h2 {
  padding: 35px 40px 28px 40px;
  text-transform: capitalize;
  background: transparent;
  color: #FFF;
  font-size: 30px;
  /*font-size: 2.3vw;*/
}

.test-top-list {
  background: transparent;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.test-top-list :nth-child(2) {
  background: transparent;
}

.test-top-list li p {
  text-align: center;
  margin: 0 10px;
  font-size: 20px;
  /*font-size: 1.5vw;*/
  background: transparent;
  color: #FFF;
}

.test-top-list :first-child > span::before {
  content: "\f104";
  font-size: 35px;
  /*font-size: 2.4vw;*/
  font-family: "Font Awesome Free 5";
  text-indent: 0;
  background: transparent;
}

.test-top-list :last-child > span::after {
  content: "\f105";
  font-size: 35px;
  /*font-size: 2.4vw;*/
  font-family: "Font Awesome Free 5";
  text-indent: 0;
  background: transparent;
}

.test-top-list :first-child {
  background: transparent;
  color: #FFF;
  padding-left: 2%;
}

.test-top-list :last-child { 
  background: transparent;
  color: #FFF;
  padding-right: 2%;
}

.test-top-list > li > span {
  background: transparent;
  color: #FFF;
  
}

.test-bottom-list {
  background: transparent;
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  margin-bottom: 2%;
}

.test-bottom-list li {
  background: transparent;
  color: #FFF;
}

.test-bottom-list li span {
  margin: 0 7px;
  background: transparent;
}

.test-bottom-list li > span::after {
  content: "\e122";
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
  background: transparent;
}


/*styling for testimonial section end here*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /*For ipad*/
  .ps-works {
    font-size: small;
    text-align: center;
  }

  .manger-connect-btn > a {
    font-size: 10px;
  }
}  
/*media query for 995px end here*/
/*media query for 480px starts here*/
@media only screen and (max-width:480px) {
  /* For iphone-potrait*/
  .container,.manager-article,.manager-aside,.insider,.insider-person,.how-ps-work{
    width: 100%;
  }

  .manager-section .wrapper {
    display: flex;
    flex-direction: column;
  }

  .how-ps-work .wrapper > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px 0 10px 0;
  }

  .how-ps-work .wrapper > ul > li {
    margin: 10px 0;
    border-bottom: 1px solid #B7B7B7;
  }

  .ps-works {
    font-size: small;
    text-align: center;
  }

.insider-list {
  margin: 3% 8%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.insider-list li {
  margin: 10px 0;
  border-bottom: 1px solid #B7B7B7;
}
}
/*media query for 480px end here*/